@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');



// app global css in SCSS form
body {
  font-family: 'DM Sans', sans-serif; // Changed to DM Sans
  font-size: medium;
  background-color: #f9f9ff;
}

.q-card {
  border-radius: 1rem;
  overflow: hidden;
}
.q-banner {
  border-radius: .5rem;
  overflow: hidden;
}

.q-header .back-button {
  border-radius: .5rem;
  background: #fff;
  color: var(--q-primary);
}

.q-input, .q-select, .q-textarea {
  overflow: hidden;
  font-size: smaller;
  background-color:white
}

.faq .q-item.q-item-type.row.no-wrap.q-item--clickable.q-link.cursor-pointer.q-focusable.q-hoverable{
  color: var(--q-primary);
  font-weight: bold;
  overflow: hidden;
  border-radius:.5rem ;
}

.q-card .q-card__section{
  font-size: medium;
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.title-color{
  color: #0D0140;  
}

.input-bg{
  background-color: #f3f9ff;
}
